//main styles

*{
  margin: 0;
  padding: 0;
}

body{
  margin: 0 auto;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

html, body{
  width: 100%;
  height: 100%;
}

header, footer{
  height: 10%;
  font-weight: bold;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#mainContainer{
  margin: 0 auto;
  width: 90%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
}

.titleSize{ font-size: 200%; }
.italic{ font-style: italic; }

.centerItems{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

ul {
  width: 90%;
  margin: 0 auto;
  list-style: none;
  transform-style: preserve-3d;
  animation: three-dimensions-circle 25s linear infinite;
}

li {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  font-family: 'Alfa Slab One', cursive;
  color: black;
  -webkit-text-stroke: 1px #ffffff;
}

@for $i from 1 through 11 {
  li:nth-child(#{$i}) {
    transform: translate(-50%, -50%) rotate(#{$i * 30 - 30}deg) translateY(-130px) rotateX(90deg);
  }
}

@keyframes three-dimensions-circle {
  0% { transform: rotateX(-100deg) rotate(0); }
  100% { transform: rotateX(-100deg) rotate(-360deg); }
}

//tooltip dla przycisku start
#start {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  background: linear-gradient(white, green);
  width: 35%;
  height: 10%;
  margin: 35% 0 0 0;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  font-family: 'Acme', sans-serif;
  font-size: 120%;
  outline: none; 
}

#start .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

#start .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#start:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#start:active{
  box-shadow: inset 0 0 15px #000;
  color: blue;
}

#left, #center, #right{
  width: 33%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  p{
    width: 100%;
    height: 49%;
    font-family: 'Acme', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

span{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.noClick{
  display: none;
}

.pulseRed{
  animation: pulseRed 1.5s infinite;
}

@keyframes pulseRed{
  0%{ color:  #FF6666;}
  50%{ color: #B20000; }
  100%{ color:  #FF6666;}
}

#stage1, #stage2, #stage3, #stage4, #stage5, #gameOver{
  z-index: 100;
  position: absolute;
  top: 45%;
  font-family: 'Alfa Slab One', cursive;
  font-size: 150%;
  width: 25%;
  margin: 0 auto;
  text-align: center;
}

//css dla siatki pól
#hexs{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.rect{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid black;
  outline: none;
}

@for $i from 1 through 50 {
  .rect:nth-child(#{$i}) {
    background: rgb(random(255), random(255), random(255));
  }
}

//css dla rozdzielczości
@media screen and (min-width: 500px) {

  @for $i from 1 through 11 {
    li:nth-child(#{$i}) {
      transform: translate(-50%, -50%) rotate(#{$i * 30 - 30}deg) translateY(-180px) rotateX(90deg);
    }
  }

  #start{
    width: 25%;
    height: 10%;
  }
}

@media screen and (min-width: 640px) {
  @for $i from 1 through 11 {
    li:nth-child(#{$i}) {
      transform: translate(-50%, -50%) rotate(#{$i * 30 - 30}deg) translateY(-210px) rotateX(90deg);
    }
  }
  .titleSize{
    font-size: 300%;
  }

  #start{
    width: 20%;
    height: 10%;
    margin: 25% 0 0 0;
  }

  .rect{
    width: 60px;
    height: 60px;
  }

  #left, #center, #right{
    font-size: 135%;
  }

  #stage1, #stage2, #stage3, #stage4, #stage5, #gameOver{
    top: 45%;
    font-size: 200%;
  }

  footer{
    font-size: 150%;
  }
}

@media screen and (min-width: 1024px) {

  @for $i from 1 through 11 {
    li:nth-child(#{$i}) {
      transform: translate(-50%, -50%) rotate(#{$i * 30 - 30}deg) translateY(-230px) rotateX(90deg);
    }
  }

  .titleSize{
    font-size: 400%;
  }

  #start{
    width: 15%;
    height: 10%;
    margin: 15% 0 0 0;
  }

  .rect{
    width: 75px;
    height: 75px;
  }

  #left, #center, #right{
    font-size: 170%;
  }

  #stage1, #stage2, #stage3, #stage4, #stage5, #gameOver{
    top: 45%;
    font-size: 300%;
  }
  
  footer{
    font-size: 200%;
  }
}